.container {
  display: grid;
  grid-gap: 10px;
}

.header {
  grid-row: 1;
}

.main {
  grid-row: 2;
}

.aside {
  grid-row: 3;
}

.footer {
  grid-row: 4;
}

@media screen and (min-width: 500px) {
  .container {
    grid-template-columns: 150px 4fr;
  }

  .header {
    grid-column: 1 / 3;
  }

  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
  }

  .main {
    grid-column: 2 / 3;
  }

  .footer {
    grid-column: 2 / 3;
    grid-row: 3;
  }
}

.header,
.main,
.aside,
.footer {
  background-color: green;
}
